:root {

    --ff-primary: 'Manrope', sans-serif;
    --ff-secondary: 'Lexend', sans-serif;
    --fc-primary: #FDFDFD;
    --fc-primary-secondary: #DEE1E6;
    --fc-secondary: #292040;
    --border-color: #7E8492;
    --primary-color: #BB84E8;

}

sub {
    color: white ;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 45rem;
    background-color: #1f2239;
    position: relative;
    z-index: -1;
}

footer h3 {
    color: #BB84E8;
    font-family: var(--ff-secondary);
}

.menu {
    position: relative;
    width: 5rem;
    height: 1rem;
}

.checkbox {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.label_checkbox,
.menu_link  {
    position: absolute;
    padding: 1rem;
    display: block;

    border-radius: 50%;
    transition: transform 0.3s,
    background-color 0.3s, box-shadow 0.3s;
}

.label_checkbox {
    position: relative;
    padding: 1.5rem;
    background-color: #BB84E8;
    z-index: 6;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

.checkbox:checked~.label_checkbox{
    transform: rotate(45deg)
}

.checkbox:checked~.menu_link:nth-child(3) {
    transform: translateY(9rem);
}

.checkbox:checked~.menu_link:nth-child(4) {
    transform: translateY(-9rem);
}

.checkbox:checked~.menu_link:nth-child(5) {
    transform: translateX(9rem);
}

.checkbox:checked~.menu_link:nth-child(6) {
    transform: translateX(-9rem);
}

.menu_link-img {
    position: fixed;
}
