

:root {
    font-size: 62.5%;
    --fz-h2: 4.8rem;
    --fz-p: 1.6rem;
    --ff-primary: 'Manrope', sans-serif;
    --ff-secondary: 'Lexend', sans-serif;
    --fc-primary: #FDFDFD;
    --fc-primary-secondary: #DEE1E6;
    --fc-secondary: #292040;
    --border-color: #7E8492;
    --primary-color: #BB84E8;

}

/* Quem eu sou */

main {
    width: 85%;
    margin: auto;
    position: relative;
    z-index: -1;
}

.for-me {
    text-align: center;
    padding-top: 7rem;
    margin-bottom: 15rem;

}


/* Animacao logo */

@keyframes rotate {
    from{
        transform: translateY(20px);
    }
   
}



#image-for img {
    width: 60%;
    z-index: -1;
    position: relative;
    animation: rotate 2s linear infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

/* Apresentacao quem eu sou */

#for {

    text-align: start;

}

#for p:last-child {
    line-height: 2.4rem;
}
#for span {
    color: var(--fc-primary);
    font-size: 3.2rem;
}

/* Sobre mim */

#about-me {

    text-align: center;
    margin-bottom: 15rem;
}

.align-h2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    width: 7rem;
}

.about h2 {
    text-align: left;
}
.overlay img {
    margin: 2rem 0 5rem 0;
    width: 60%;
    box-shadow: rgba(221, 54, 233, 0.3) 5px 5px, rgba(221, 54, 233, 0.3) 10px 10px, rgba(221, 54, 233, 0.2) 15px 15px, rgba(221, 54, 233, 0.1) 20px 20px, rgba(221, 54, 233, 0.05) 25px 25px;

}

.sobre {
    text-align: left;
    margin: auto;
    line-height: 2.8rem;

}

.sobre span {
    font-size: 3.2rem;
    font-weight: 700;

}

.image-titles {
    display: none;
}



/* MINHAS HABILIDADES */

#skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20.0rem;
}

.skills {

    margin-bottom: 7.0rem;
}


#img-skills {
    transform: scaleX(-1);
    opacity: 70%;
}

#my-skills {
    display: grid;
    grid-template-areas: "A B";
    width: 70%;
    justify-items: center;
    grid-gap: 3rem;
}

#my-skills img {
    width: 5rem;
    display: block;
    margin: auto;
}

.my-skills {
    border: 1px solid #7E8492;
    border-radius: 5px;
    padding: 2rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.overlay-skills {
    width: 10rem;
    height: 10rem;

    position: absolute;
    background-color: #BB84E8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    border-radius: 5px;
    font-size: 1.8rem;
    gap: 3rem;
    transition: 0.25s;
}

.overlay-skills:hover {
    opacity: 100%;
}




/* PROJETOS */

#container-projects {
    margin-bottom: 5rem;
}
.background-projects {
    background-color: #1f2239;
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 3rem;
    height: 50rem;

}

.stacks {
    display: flex;
    gap: 2rem;
}

.info-project {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-bottom: 2rem;
}

.image-project {
    text-align: center;
}

.image-project img {
    width: 100%;
    border-radius: 5px;
    border: thin solid var(--border-color);
}

.visit-project  {

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.visit-project a {
    color: var(--primary-color);
    text-decoration: none;

}

.visit-project a:first-child {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    width: 9rem;
    height: 3.5rem;
    padding: 0.6rem;
    display: flex;
    justify-content: center;
}

.project3 {
    margin-bottom: 10rem;
}


/* BOTAO DE VEJA MAIS E VEJA MENOS */

#see-more-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #see-more-button:hover {
    background-color: #0056b3;
  }
  
  #see-less-button {
    display: none;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff0000; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #see-less-button:hover {
    background-color: #cc0000; 
  }

  


  